<main class="w_full d_flex_cc_gl">
  <form (ngSubmit)="onSubmit()" class="std_form_small d_flex_cs_gl f_d_c w_full">
    <h1 class="font_prime_color d_flex_cs_gl w_full text_a_c">Reset password</h1>
    <p class="text_a_c font_prime_color">Create a new password for your Videoflix account.</p>

    <div [attr.error]="passwordError ? 'true' : 'false'" id="password_group" class="form_group_w_icon_wo_label w_full">
      <img src="/assets/icons/password.png" alt="Icon">
      <input (blur)="validatePW(passwordInput.value)" #passwordInput name="password" type="password" id="password"
             required autocomplete="password">
      <label for="password">Password</label>
      <img (click)="togglePassword(passwordInput)" class="password_eye" src="/assets/icons/visibility.svg" alt="">
      <p class="error_label">Password must be at least 8 characters long.</p>
    </div>

    <div [attr.error]="repeatedPasswordError ? 'true' : 'false'" id="repeated_password_group"
         class="form_group_w_icon_wo_label w_full">
      <img src="/assets/icons/password.png" alt="Icon">
      <input (blur)="validateConfirmPW(repeatedInput.value)" #repeatedInput name="repeated_password"
             type="password" id="repeated_password" required autocomplete="repeated-password">
      <label for="repeated_password">Confirm password</label>
      <img (click)="togglePassword(repeatedInput)" class="password_eye" src="/assets/icons/visibility.svg" alt="">
      <p class="error_label">Passwords do not match.</p>
    </div>

    <p id="error_login" [attr.error]="'false'" class="login_error">Benutzer oder Passwort falsch</p>

    <div class="d_flex_cc_gl f_d_c w_full">
      <button type="submit" class="std_btn btn_prime pad_s d_flex_cc_gs">Reset password</button>
    </div>
  </form>
</main>
