<main class="w_full d_flex_cc_gl">
  <form (ngSubmit)="onSubmit()" class="std_form_small d_flex_cs_gl f_d_c w_full">
    <h1 class="font_prime_color d_flex_cs_gl w_full text_a_c">Forgot your password?</h1>
    <p class="text_a_c font_prime_color">We will send you an email with instructions to reset your password.</p>

    <div [attr.error]="emailError ? 'true' : 'false'" id="forgot_email_group" class="form_group_w_icon_wo_label w_full">
      <img src="/assets/icons/mail.png" alt="Icon">
      <input (blur)="validateEmail(emailInput.value)" #emailInput type="text" id="forgot_email" name="email"
             required autocomplete="email">
      <label for="forgot_email">Email</label>
      <p class="error_label">Please enter a valid email address.</p>
    </div>

    <div class="d_flex_cc_gl f_d_c w_full">
      <button type="submit" class="std_btn btn_prime pad_s d_flex_cc_gs">Send email</button>
    </div>
  </form>
</main>
